<div class="login-page">
  <h1><%= t("Login page") %></h1>
  <div class="notice"><%= flash[:notice] %></div>  
  <%= form_with scope: :session, url: login_path do |f| %>

    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control' %>
  
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
  
    <%= f.submit t("user.login"), class: "btn btn-primary" %>
  <% end %>
  
  <%= link_to  t("user.signup"), new_user_path, class: "sign-up" %>
</div>

        