<div class="admin-edit-mission-wrap">
  <div class="admin-edit-mission">
    <%= render 'shared/errors', user: @mission %>
    <%= simple_form_for @mission, url: admin_mission_path, method: :patch do |mission| %>
      <%= mission.input :title %>
      <%= mission.input :content %>
      <%= mission.input :start_time %>
      <%= mission.input :end_time %>
      <%= mission.input :status, as: :radio_buttons, collection: [['waiting', t("enum.status.waiting")], ['conduct', t("enum.status.conduct")], ['finished', t("enum.status.finished")]], label_method: :second, value_method: :first %>
      <%= mission.input :priority, as: :radio_buttons, collection: [[ 'low', t("enum.priority.low")], [ 'medium', t("enum.priority.medium")], [ 'hight', t("enum.priority.hight")]], label_method: :second, value_method: :first %>
      <%= mission.submit t("submit") %>
    <% end %>
  </div>
</div>

