<div class="admin-missions">
  <div class="search">
    <%= sort_link(@q, :end_time, default_order: :desc) do %>
      <strong><%= t("mission.sort.end_time") %></strong>
    <% end %>
    
    <%= sort_link(@q, :priority, default_order: :desc) do %>
      <strong><%= t("mission.sort.priority") %></strong>
    <% end %>
    
    <%= sort_link(@q, :created_at, default_order: :desc) do %>
      <strong><%= t("mission.sort.create_time") %></strong>
    <% end %>  
    <p class="flash"><%= flash[:notice] %></p>
  </div>
  <h1><%= t('mission.empty') if @missions.empty? %></h1>
  <%= render @missions %>
  <%= paginate @missions, left: 1, right: 3 %>
</div>
        