<!DOCTYPE html>
<html>
  <head>
    <title>The Mission</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="admin-all-wrap">
      <%= render 'admin/shared/nav' %>
      <div class="admin-wrap">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
