<div class="user-new">
  <%= simple_form_for current_user, controller: 'users', action: 'edit' do |form| %>
    <%= render 'shared/errors', user: current_user %>
    <div class="field">
      <%= form.input :email %>
    </div>
    
    <div class="field">
      <%= form.input :password %>
    </div>
    
    <div class="field">
      <%= form.input :password_confirmation %>
    </div>

    <div class="field">
      <%= form.input :avatar, label: '頭貼' %>
    </div>
    <%= form.submit t("submit") %>
  <% end %>
</div>