<h1><%= t("Login page") %></h1>
<%= link_to t("user.new"), new_user_path %>
<% @users.each do |user| %>
  <div class="user-content">
    <p><%= t("users") %>： <%= user.account %> </p>
    <%= link_to  t("mission.check"), user_missions_path(user) %>
    <%= link_to  t("user.delete"), user_path(user), method: 'DELETE', data: { confirm:  t("confirm.delete") } %>
  </div>
<% end %>