<nav class="top-list">
  <div class="nav-list-left">
    <h1><%= t("user.new") %></h1>
    <%= link_to t("return"), root_path %>
  </div>
  <div class="nav-list-middle"></div>
  <div class="nav-list-right"></div>
</nav>

<div class="user-new">
  <%= simple_form_for @user do |form| %>
    <%= render 'shared/errors', user: @user %>
    <div class="field">
      <%= form.input :email %>
    </div>
    
    <div class="field">
      <%= form.input :password %>
    </div>
    
    <div class="field">
      <%= form.input :password_confirmation %>
    </div>

    <%= form.submit t("submit") %>
  <% end %>
</div>