<nav class="top-list">
  <div class="nav-list-left">
    <h1><%= t("user.new") %></h1>
    <%= link_to t("return"), root_path %>
  </div>
  <div class="nav-list-middle"></div>
  <div class="nav-list-right"></div>
</nav>

<div class="user-new">
  <%= form_for @user, controller: 'users', action: 'create' do |form| %>
    <%= render 'shared/errors', user: @user %>
    <div class="field">
      <%= form.label :email %>
      <%= form.text_field :email %>
    </div>
    
    <div class="field">
      <%= form.label :password %>
      <%= form.password_field :password %>
    </div>
    
    <div class="field">
      <%= form.label :password_confirmation, t("message.again") %>
      <%= form.password_field :password_confirmation %>
    </div>
    

    <%= form.submit t("submit") %>
  <% end %>
</div>