<nav>
  <h1><%= t("user.new") %></h1>
  <%= link_to t("return"), users_path %>
</nav>
<div class="user-new">
  <%= simple_form_for @user do |user| %>
    <%= user.input :account %>
    <%= user.input :password %>
    <%= user.submit t("submit") %>
  <% end %>
</div>