<div class="mission-index">
  <div class="mission-index-tags">
    <h5><%= t("tag.used") %></h5>
    <% tags.each do |tag| %>
      <%= search_form_for @q, url: user_missions_path(user), id: "tag_search" do |f| %>
        <%= f.hidden_field :tags_category_eq, :value =>tag.category %>
        <%= f.submit tag.category, class: "tag" %>
      <% end %> 
    <% end %>
  </div>
  <div class="missions-wrap">
    <div class="missions">
      <div class="search">
        <%= sort_link(@q, :end_time, default_order: :desc) do %>
          <strong><%= t("mission.sort.end_time") %></strong>
        <% end %>
        
        <%= sort_link(@q, :priority, default_order: :desc) do %>
          <strong><%= t("mission.sort.priority") %></strong>
        <% end %>
        
        <%= sort_link(@q, :created_at, default_order: :desc) do %>
          <strong><%= t("mission.sort.create_time") %></strong>
        <% end %>  
      </div>
      <h1><%= t('mission.empty') if missions.empty? %></h1>
      <p class="flash"><%= flash[:notice] %></p>
      <% missions.each do |mission| %>
        <div class="<%= checkendtime(mission.end_time) ? 'expired mission' : 'mission' %>">
          <div class="mission-content">
            <div class="mission-title"><%= t("mission.title") %>：<%= mission.title %></div>
            <div class="content"><%= t("mission.content") %>：<%= mission.content %></div>
            <div class="start_time"><%= t("mission.start_time") %>：<%= mission.start_time %></div>
            <div class="end_time"><%= t("mission.end_time") %>：<%= mission.end_time %></div>
            <div class="status"><%= t("mission.status") %>：<%= mission.status %></div>
            <div class="priority"><%= t("mission.priority") %>：<%= mission.priority %></div>
          </div>
          <div class="links">
            <h4><%= t("mission.expired") if checkendtime(mission.end_time) %></h4>
            <%= link_to t("mission.check"), user_mission_path(user, mission) %>
            <%= link_to t("mission.edit"), edit_user_mission_path(user, mission) %>
            <%= link_to t("mission.delete"), user_mission_path(user, mission), method:'DELETE', data: { confirm: t("confirm.delete") } %>
          </div>
        </div>
      <% end %>
      <%= paginate missions, left: 1, right: 3 %>
    </div>
  </div> 
</div>
  