<div class="mission-index">
  <div class="tags"></div>
  <div class="missions">
    <% @missions.each do |mission| %>
      <div class="mission">
        <div class="mission-content">
          <div><%= t("mission.title") %>：<%= mission.title %></div>
          <div class="content"><%= t("mission.content") %>：<%= mission.content %></div>
          <div><%= t("mission.start_time") %>：<%= mission.start_time %></div>
          <div><%= t("mission.end_time") %>：<%= mission.end_time %></div>
        </div>
        <div class="links">
          <%= link_to t("mission.check"), user_mission_path(@user, mission) %>
          <%= link_to t("mission.edit"), "#", data: {toggle: "modal", target: "#mission_modal"} %>
          <%= link_to t("mission.delete"), user_mission_path(@user, mission), method:'DELETE', data: { confirm: t("confirm.delete") } %>
        </div>
      </div>
      <%= render 'shared/modal', mission: mission %>
    <% end %>
  </div> 
</div>


