<%= render 'shared/nav' %>
<% if @mission.errors.any? %>
<ul>
  <% @mission.errors.full_messages.each do |message| %>
  <li><%= message %></li>
  <% end %>
</ul>
<% end %>
<div class="mission-new">
    <h1><%= t("mission.new") %></h1>
  <%= simple_form_for @mission, url: { action: "create" }, html: { id: "new_mission" } do |mission| %>
    <%= mission.hidden_field :user_id, value: params[:user_id] %>
    <%= mission.input :title %>
    <%= mission.input :content %>
    <%= mission.input :start_time %>
    <%= mission.input :end_time %>
    <%= mission.input :status, as: :radio_buttons, collection: [[ 0, t("enum.status.waiting")], [ 1, t("enum.status.conduct")], [ 2, t("enum.status.finished")]], label_method: :second, value_method: :first %>
    <%= mission.input :priority, as: :radio_buttons, collection: [[ 0, t("enum.priority.low")], [ 1, t("enum.priority.medium")], [ 2, t("enum.priority.hight")]], label_method: :second, value_method: :first %>
    <%= mission.submit t("submit") %>
  <% end %>
</div>