<%= render 'shared/nav' %>
<div class="mission-new">
  <h1><%= t("mission.new") %></h1>
  <%= render 'shared/errors', user: @mission %>
  <%= link_to  t("tag.new"), new_user_tag_path(params[:user_id]) %>
  <%= simple_form_for @mission, url: { action: "create" }, html: { id: "new_mission" } do |mission| %>
    <%= mission.collection_check_boxes :tag_ids, Tag.all, :id, :category %>
    <%= mission.hidden_field :user_id, value: params[:user_id] %>
    <%= mission.input :title %>
    <%= mission.input :content %>
    <%= mission.input :start_time %>
    <%= mission.input :end_time %>
    <%= mission.input :status, as: :radio_buttons, collection: [[ 0, t("enum.status.waiting")], [ 1, t("enum.status.conduct")], [ 2, t("enum.status.finished")]], label_method: :second, value_method: :first %>
    <%= mission.input :priority, as: :radio_buttons, collection: [[ 0, t("enum.priority.low")], [ 1, t("enum.priority.medium")], [ 2, t("enum.priority.hight")]], label_method: :second, value_method: :first %>
    <%= mission.submit t("submit") %>
  <% end %>
</div>
