<%= render 'shared/nav' %>
<div class="mission-show">
  <div class="title"><%= t("mission.title") %>：</div><div class="txt"><%= @mission.title %></div>
  <div class="title"><%= t("mission.content") %>：</div><div class="content"><%= @mission.content %></div>
  <div class="title"><%= t("mission.start_time") %>：</div><div class="txt"><%= @mission.start_time %></div>
  <div class="title"><%= t("mission.end_time") %>：</div><div class="txt"><%= @mission.end_time %></div>
  <div class="title"><%= t("mission.status") %>：</div><div class="txt"><%= @mission.status %></div>
  <div class="tags">
    <h5><%= t("tag.title") %></h5>
    <% @mission.tags.each do |tag| %>
      <span class="tag">
        <%= tag.category %>
        <%= link_to  "X", user_mission_tag_path(params[:user_id], @mission, tag), method: 'delete', class: 'tag-delete', data: { confirm: t("confirm.delete") } %>
      </span>
    <% end %>
  </div>
  <%= link_to t("mission.edit"), edit_user_mission_path(params[:user_id], @mission) %>
</div>