<h1>任務細節</h1>
<%= link_to  "返回任務列表", user_missions_path(params[:user_id]) %>
<div class="mission-show">
    <p>任務名：<%= @mission.name %></p>
    <p>任務內容：<%= @mission.content %></p>
    <p>任務開始時間：<%= @mission.start_time %></p>
    <p>任務結束時間：<%= @mission.end_time %></p>
</div>