<nav>
  <h1><%= t("mission.detail") %></h1>
  <%= link_to t("back.mission_list"), user_missions_path(params[:user_id]) %>
</nav>
<div class="mission-show">
    <div class="title"><%= t("mission.title") %>：</div><div class="txt"><%= @mission.title %></div>
    <div class="title"><%= t("mission.content") %>：</div><div class="content"><%= @mission.content %></div>
    <div class="title"><%= t("mission.start_time") %>：</div><div class="txt"><%= @mission.start_time %></div>
    <div class="title"><%= t("mission.end_time") %>：</div><div class="txt"><%= @mission.end_time %></div>
</div>