<div class="mission-show">
  <div class="title"><%= t("mission.title") %></div><div class="txt"><%= @mission.title %></div>
  <div class="title"><%= t("mission.content") %></div><div class="content"><%= @mission.content %></div>
  <div class="title"><%= t("mission.start_time") %></div><div class="txt"><%= @mission.start_time %></div>
  <div class="title"><%= t("mission.end_time") %></div><div class="txt"><%= @mission.end_time %></div>
  <div class="title"><%= t("mission.status") %></div><div class="txt"><%= @mission.status %></div>
  <div class="tags">
    <h5><%= t("tag.title") %></h5>
    <% @mission.tags.each do |tag| %>
      <%= search_form_for @q, url: missions_path, id: "index-tag" do |f| %>
        <%= f.hidden_field :tags_category_eq, value: tag.category %>
        <%= f.submit tag.category, class: "tag" %>
      <% end %> 
      <%= link_to  "X", mission_tag_path(@mission, tag), method: 'delete', class: 'tag-delete', data: { confirm: t("confirm.delete") } %>
    <% end %>
  </div>
  <%= link_to t("mission.edit"), edit_mission_path(@mission) %>
</div>