<%= render 'admin/shared/nav' %>
<div class="admin-edit-mission-wrap">
  <div class="admin-edit-mission">
    <%= form_for @user, url: admin_user_path, method: :patch do |form| %>
        
      <%= render 'shared/errors', user: @user %>

      <div class="field">
        <%= form.label :email %>
        <%= form.text_field :email %>
      </div>
      
      <div class="field">
        <%= form.label :password %>
        <%= form.password_field :password %>
      </div>
      
      <div class="field">
        <%= form.label :password_confirmation, t("message.again") %>
        <%= form.password_field :password_confirmation %>
      </div>
      
      <%= form.submit t("submit") %>
    <% end %>
  </div>
</div>