<!DOCTYPE html>
<html>
  <head>
    <title>Ruby</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/nav'%>
    <div class="wrap">
      <p class="flash"><%= flash[:notice] %></p>
      <%= yield %>
    </div>
  </body>
</html>
